/*===================date & time */
#datetime {
  position: relative;
  display: inline-block;
  float:center;

  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;

  font-size: 12px;
  text-align: right;

  padding:0px;
  margin-top:10px;
  margin-left:10px;

  color:rgb(0, 250, 235,1);
}
/*var invisible = 'rgb(0,0,0,0)';

var white = 'rgb(255,255,255,1)';
var black = 'rgb(0,0,0,1)';
var lightgray = 'rgb(220,220,220,1)';
var middlegray = 'rgb(200,200,200,1)';
var deepgray = 'rgb(105, 105, 105,1)';

var deepbrown = 'rgb(25, 11, 10,1)';
var deepgreen = 'rgb(47,79,79,1)';
var shinegreen = 'rgb(0, 250, 235,1)';

var pastelpink = 'rgb(193,147,145,1)';//rgb(188, 143, 143,1)
var red = 'rgb(128, 0, 0,1)';
var pinkred = 'rgb(165,  42,  42,1)';
var shinered = 'rgb(220, 20, 60,1)';*/
html {
  color: #fff;
  background:rgb(25, 11, 10,1);/*#000 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAALklEQVQ4T2NUUlL6z4AH3Lt3D580A+OoAcMiDICRjDcdAKMZfzoYNYCBceiHAQDsuisx5wDZVAAAAABJRU5ErkJggg==');*/
}
body{
  margin:10px;
  background-color: rgb(25, 11, 10,1);
  color:white;
}

#changeColorBtn{
  float:right;
  font-size: 20px;
  background-color:rgb(0,0,0,0);
  color:rgb(0, 250, 235,1);
  border:0px;
}

#colorBtn{

  position: relative;
  float:right;

  text-align: center;
  font-size: 20px;

  width:25px;
  border:0px;
  padding: 2px;
  margin-right: 0px;
  margin-left: 0px;

  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: rgb(0,0,0,0);
  color:rgb(0, 250, 235,1);

}
.dropbtn_color{
  border: none;
  cursor: pointer;

  background-color: rgb(0, 250, 235,1);
  color: rgb(25, 11, 10,1);

  text-align: center;
  font-size: 15px;

  width:50px;
  padding: 5px 5px;
  margin-right: 0px;
}

.dropbtn {
  border: none;
  cursor: pointer;

  background-color: rgb(0, 250, 235,1);
  color: rgb(25, 11, 10,1);

  text-align: center;
  font-size: 15px;

  width:50px;
  padding: 5px 5px;
  margin-right: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;

  background-color: rgb(0, 250, 235,1);
  /*padding: 2px;*/
}

.dropdown-content {
  display: none;
  position: absolute;
  /*right: 0;*/
  background-color: rgb(0, 250, 235,1);

  text-align: center;
  font-size: 15px;

  width:50px;
  /*padding: 2px;*/
  margin-right: 0px;
  min-width: 50px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;

  color:rgb(25, 11, 10,1);
  padding: 5px 5px;
}

.dropdown-content a:hover {background-color: rgb(255,255,255,1);}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(255,255,255,1);
}
