/*var invisible = 'rgb(0,0,0,0)';

var white = 'rgb(255,255,255,1)';
var black = 'rgb(0,0,0,1)';
var lightgray = 'rgb(220,220,220,1)';
var middlegray = 'rgb(200,200,200,1)';
var deepgray = 'rgb(105, 105, 105,1)';

var deepbrown = 'rgb(25, 11, 10,1)';
var deepgreen = 'rgb(47,79,79,1)';
var shinegreen = 'rgb(0, 250, 235,1)';

var pastelpink = 'rgb(193,147,145,1)';//rgb(188, 143, 143,1)
var red = 'rgb(128, 0, 0,1)';
var pinkred = 'rgb(165,  42,  42,1)';
var shinered = 'rgb(220, 20, 60,1)';*/

#myname_list{/*html에 미리 설정해둔 id 여기에 children 추가*/
  position: relative;
  display: inline-block;

  background-color: rgb(0, 0, 0, 0);
  width:50%;
/*
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
*/
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;
}

.mylist_list{/*children 추가할 때, css효과 주기위한 class*/
  position: relative;
  display: inline-block;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(255, 255, 255);

  width:50%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;

  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

}

.mylist_checkbox{/*children 추가할 때, css효과 주기위한 class*/
  position: relative;
  display: inline-block;

  background-color: rgb(25, 11, 10);
  opacity: 1;

  text-align: left;

  margin-top:10px;
  margin-left:10px;

}

#mylistTitle{
  position: relative;
  display: inline-block;
  float:left;
  font-size: 30px;

  padding:0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:10px;

  border:0px solid green;

  color:rgb(0, 250, 235);
  background-color: rgb(0, 0, 0, 0);
}

#makeBtn{
  display: flex;
  position: absolute;
  top:0;
  right: 17%;
  margin: 5px auto;
  padding:2px;
  font-size: 15px;

  border-radius: 4px;
  border:1px solid;
  color: rgb(0, 250, 235);
  border-color:rgb(0, 250, 235);
  background-color: rgb(25, 11, 10);
}
#editBtn{
  display: flex;
  position: absolute;
  top:0;
  right: 14%;
  margin: 5px auto;
  padding:2px;
  font-size: 15px;

  border-radius: 4px;
  border:1px solid;
  color: rgb(0, 250, 235);
  border-color:rgb(0, 250, 235);
  background-color: rgb(25, 11, 10);
}
#deleteBtn{
  display: flex;
  position: absolute;
  top:0;
  right: 11.3%;
  margin: 5px auto;
  padding:2px;
  font-size: 15px;

  border-radius: 4px;
  border:1px solid;
  color: rgb(0, 250, 235);
  border-color:rgb(0, 250, 235);
  background-color: rgb(25, 11, 10);
}

#playBtn{
  position: absolute;
  top:0;
  right: 8%;
  margin: 5px auto;
  padding:2px;
  font-size: 15px;

  border-radius: 4px;
  border:1px solid;
  color: rgb(0, 250, 235);
  border-color:rgb(0, 250, 235);
  background-color: rgb(25, 11, 10);
}
#mylist_pageBtn{
  display: none;
  position: absolute;
  top:0;
  right: 5%;
  margin: 5px auto;
  padding:2px;
  font-size: 15px;

  border-radius: 4px;
  border:1px solid;
  color: rgb(0, 250, 235);
  border-color:rgb(0, 250, 235);
  background-color: rgb(25, 11, 10);
}
/*================create-content*/
.create-content{/*create, edit 클릭 시, 뜨는 내용*/
  position:relative;
  justify-content: center;
  align-items:center;
  display:none;

/*  bottom: -6.5%;
  top: -113%;*/
  right: -50%;
  width: 230px;
  height: 25px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border:0px solid;

  text-align: center;

  padding:0px;

  border-color:rgb(0, 250, 235);
  background-color: rgb(25, 11, 10);
}
#nameLabel{
  position: absolute;
  right: 80%;
  margin: 5px auto;
  padding:2px;
  font-size: 15px;
  color: rgb(0, 250, 235);
}
#nameHolder{
  position: absolute;
  right: 5%;
  margin: 5px auto;
  padding:2px;
  font-size: 15px;

  border-radius: 0px;
  border:0px;
  border-bottom:1px solid;

  color: rgb(255, 255, 255);
  border-color:rgb(0, 250, 235);
  background-color: rgb(25, 11, 10);
}
