/*var invisible = 'rgb(0,0,0,0)';

var white = 'rgb(255,255,255,1)';
var black = 'rgb(0,0,0,1)';
var lightgray = 'rgb(220,220,220,1)';
var middlegray = 'rgb(200,200,200,1)';
var deepgray = 'rgb(105, 105, 105,1)';

var deepbrown = 'rgb(25, 11, 10,1)';
var deepgreen = 'rgb(47,79,79,1)';
var shinegreen = 'rgb(0, 250, 235,1)';

var pastelpink = 'rgb(193,147,145,1)';//rgb(188, 143, 143,1)
var red = 'rgb(128, 0, 0,1)';
var pinkred = 'rgb(165,  42,  42,1)';
var shinered = 'rgb(220, 20, 60,1)';*/
/*===================html slider==============================================*/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 3px;

  outline: none;
  opacity: 0.8;
  background-color: rgb(255, 255, 255);

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  width: 7px;
  height: 7px;

  background-color: rgb(0, 250, 235);
}

.slider::-moz-range-thumb {
  cursor: pointer;
  width: 7px;
  height: 7px;

  background-color: rgb(0, 250, 235);
}
/*==============================custom========================================*/
/*===================play & volume bar*/
#plus {
  font-size: 15px;
  text-align: left;

  color: rgb(0, 250, 235);
}

#play_plus {
  font-size: 15px;
  text-align: left;

  width: 50px;
  padding:0px;
  margin-top:10px;
  margin-left:10px;

  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;

  color: rgb(0, 250, 235);
}

#play_bar {
  width:200px;

  margin:0px;
  padding:0px;
  /*margin-top:10px;
  margin-left:10px;*/
}

#minus {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;

  color: rgb(0, 250, 235);
}
#play_minus {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;

  color: rgb(0, 250, 235);
}

#vol {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;

  color: rgb(0, 250, 235);
}
#vol_text {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;

  color: rgb(0, 250, 235);
}

#vol_bar {
  width:50px;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
}

/*===================playbtn*/
#pre {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(0, 250, 235);
}
#stop {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(0, 250, 235);

}
#pause {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(0, 250, 235);

}
#next {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(0, 250, 235);
}
/*===================random & replay*/
#random {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(0, 250, 235);
}
#replay {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(0, 250, 235);
}
/*===================+/-(topTomylist)버튼 클릭시, mylist manage popup*/
#topTomylist {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(0, 250, 235);
}
/*===================volume*/
#vol {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(0, 250, 235);
}

#vol_text {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;

  color:rgb(0, 250, 235);
}
/*===================speed*/
#speed {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;

  transition: all 0.3s;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(0, 250, 235);
}
/*===================select list*/
#select_playlist {
  font-size: 15px;
  text-align: left;

  width: 100px;

  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(0, 250, 235);
}
/*===================gtts*/
#voice {
  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

  background-color: rgb(0, 0, 0, 0);
  color:rgb(0, 250, 235);
}

/*===================playing title*/
#playtitle {
  position: relative;
  display: inline-block;

  width:30%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;

  font-size: 15px;
  text-align: left;

  padding:0px;
  margin-top:10px;
  margin-left:10px;
  border:0px solid green;

  transition: all 0.3s;

  color:rgb(0, 250, 235);
}
